Universal_Robots_ROS_Driver/ur_robot_driver/scripts/Dual_robot/__pycache__
Universal_Robots_ROS_Driver/ur_robot_driver/scripts/Dual_robot/UI/__pycache__
Universal_Robots_ROS_Driver/ur_robot_driver/scripts/single_robot/__pycache__
