<?xml version="1.0"?>
<!-- the ns = the node -->
									<!-- Two_robot.launch -->
<launch>
									<!-- Arm 1 -->   
  <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch" ns = "pick_and_place">
   <!-- <arg name="tf_prefix" value="pickAndPlace_" /> -->
    <!-- The load file is where to upload the xacro, and within the xacro file, each robot arm is intansitated -->
<!--    <arg name="robot_description_file" value= "$(find ur_description)/launch/load_dual_ur5e.launch" doc="Robot description launch file." /> -->

    <arg name="robot_description_file" value= "$(find ur_description)/launch/load_ur5e_pp.launch" doc="Robot description launch file." />

  <!-- Port number & IP -->
    <arg name="robot_ip" value="192.168.1.25" />
    <arg name="reverse_port" value="50006" />
    <arg name="script_sender_port" value="50007" />
    <arg name="trajectory_port" value="500013" doc="Port that will be opened by the driver to allow trajectory forwarding."/>
    <arg name="script_command_port" value="500012" doc="Port that will be opened by the driver to allow forwarding script commands to the robot."/>
  <!-- Kinematic Config-->
    <arg name="kinematics_config" value="$(find ur_description)/config/ur5e/kinematic_pick_and_place.yaml"/>

    <arg name="prefix" value ="pickAndPlace_" />
    <!-- Controller  -->
    <arg name="controllers" default="joint_state_controller scaled_pos_joint_traj_controller speed_scaling_state_controller force_torque_sensor_controller" doc="Controllers that are activated by default."/>
    <arg name="controller_config_file" value="$(find ur_robot_driver)/config/etc/pp_controller.yaml" doc="Config file used for defining the ROS-Control controllers."/>
    <arg name="stopped_controllers" default="pos_joint_traj_controller joint_group_vel_controller" doc="Controllers that are initally loaded, but not started."/>
  </include>

									<!-- Arm 2 -->
  <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch" ns = "dispense_robot">
    <!-- <arg name="tf_prefix" value="dispense_" /> -->
    <arg name="robot_description_file" value= "$(find ur_description)/launch/load_ur5e_dispense.launch" doc="Robot description launch file." />

  <!-- Port number & IP -->
    <arg name="robot_ip" value="192.168.1.30" />
    <arg name="reverse_port" value="50008" />
    <arg name="script_sender_port" value="50009" />
    <arg name="trajectory_port" default="50010" doc="Port that will be opened by the driver to allow trajectory forwarding."/>
    <arg name="script_command_port" default="50011" doc="Port that will be opened by the driver to allow forwarding script commands to the robot."/>
  <!-- Kinematic Config-->
    <arg name="kinematics_config" value="$(find ur_description)/config/ur5e/kinematic_dispense.yaml"/>
    <!-- Controller-->
    <arg name="controllers" default="joint_state_controller scaled_pos_joint_traj_controller speed_scaling_state_controller force_torque_sensor_controller" doc="Controllers that are activated by default."/>
    <arg name="controller_config_file" value="$(find ur_robot_driver)/config/etc/dispense_controller.yaml" doc="Config file used for defining the ROS-Control controllers."/>
    <arg name="stopped_controllers" default="pos_joint_traj_controller joint_group_vel_controller" doc="Controllers that are initally loaded, but not started."/>
    <arg name="prefix" value="dispense_" />
  </include>
</launch>








<!-- Different version -->

<!-- 
<?xml version="1.0"?>
<launch>

  <group ns="pick_and_place">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
      <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
    
        <arg name="tf_prefix" value="pickAndPlace_" />
        <arg name="robot_ip" value="192.168.1.25" />
        <arg name="reverse_port" value="50006" />
        <arg name="script_sender_port" value="50007" />
        <arg name="kinematics_config" value="$(find ur_description)/config/ur5e/default_kinematics.yaml"/>

        <arg name="robot_description_file" value= "$(find ur_description)/launch/load_dual_ur5e.launch" doc="Robot description launch file." />
        <arg name="prefix" value ="pickAndPlace_" />
      </include>
  </group>


  <group ns="dispense_robot">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
      <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
        <arg name="reverse_port" value="50009" />
        <arg name="script_sender_port" value="50008" />
        <arg name="tf_prefix" value="dispense_" />
        <arg name="robot_ip" value="192.168.1.30" />

        <arg name="reverse_port" value="$(arg dispense_ip)" />
        <arg name="script_sender_port" value="$(arg dispense_script_sender_port)" />
        <arg name = "trajectory_port" value = "$(arg dispense_trajectory_port)">
        <arg name="kinematics_config" value="$(find ur_description)/config/ur5e/default_kinematics.yaml"/>

        <arg name="robot_description_file" value= "$(find ur_description)/launch/load_dual_ur5e.launch" doc="Robot description launch file." />
        <arg name="prefix" value ="dispense_" />
      </include>
    
  </group>

</launch>
-->
<!-- Individual Controller

    <arg name="controller_config_file" value="$(find ur_robot_driver)/config/etc/dispense_controller.yaml" doc="Config file used for defining the ROS-Control controllers."/>
    <arg name="stopped_controllers" default="pos_joint_traj_controller joint_group_vel_controller" doc="Controllers that are initally loaded, but not started."/>

 -->





