<?xml version="1.0"?>
									<!--pick and place.xacro -->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_robot">

  <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro"/>
<!--  <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>
 -->

  <!-- arm pick and place-->
  <xacro:ur5e_robot prefix="pickAndPlace_" kinematics_parameters_file="$(find ur_description)/config/ur5e/kinematic_pick_and_place.yaml" />


   <!-- world environment .xacro if we have one -->
  <link name="world" />

  <joint name="world_to_pick" type="fixed">
    <parent link="world" />
    <child link = "pickAndPlace_base_link" />
    <origin xyz="-0.5 0 0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
